<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7 from 35 Lotto!!</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div>
    <h1>Welcome to the 7 from 35 lotto!</h1>
    <h2>Pick 7 numbers from 1-35 and see if you win! The odds are only 1 in 1 in 6,724,520!</h2>
</div>
<button id="results-button">get results!</button>
<div id="container-selectable"></div>
<div id="container-result"></div>
<script type="module" src="javascript/lotto.js"></script>
</body>
</html>